#about {
  margin: auto;
  padding-bottom: 50px;

  h1 {
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
    font-family: $heading;
    padding-bottom: 30px;
  }

  .about-container {
    .about-images {
      img {
        width: 75%;
        margin: auto;
        border-radius: 5px;
        padding: 15px 0;
      }
    }

    .about-text {
      width: 75%;
      margin: auto;
      font-size: 18px;

      p span {
        padding-top: 30px;
        font-size: 22px;

        strong {
          font-weight: bold;
        }
      }

      p {
        padding: 35px 0 0 0;
      }

      ul {
        padding-top: 40px;
        padding-left: 30px;
        list-style-type: circle;
      }

      ul li {
        padding-bottom: 10px;
      }
    }

    .resume-link {
      margin-top: 25px;
      text-align: center;
    }

    .resume-link a {
      text-align: center;
      background-color: $purple;
      color: $pink;
      padding: 10px 20px;
      border-radius: 15px;
      transition: 0.3s;
      box-shadow: 1px 5px 20px 1px rgba(0, 0, 0,.5);
      -moz-box-shadow: 1px 5px 20px 1px rgba(0, 0, 0,.5);
      -webkit-box-shadow: 1px 5px 20px 1px rgba(0, 0, 0,.5);

      &:hover {
        color: $pink-hover;
      }
    }
  }

  @media (min-width: $tablet) {
    h1 {
      font-size: 45px;
      padding-bottom: 40px;
    }

    .about-container {
      width: 65%;
      margin: auto;
      .about-images {
        width: 100%;
      }

      .about-text {
        width: 100%;
        font-size: 20px;
      }
    }
  }

  @media (min-width: $laptop) {
    padding-bottom: 90px;

    h1 {
      font-size: 45px;
      padding-bottom: 40px;
    }

    .about-container {
      width: 65%;

      margin: auto;
      .about-images {
        width: 100%;
      }

      .about-text {
        width: 100%;
        font-size: 20px;
        padding-top: 40px;

        p span {
          font-size: 24px;
        }
      }
      .resume-link {
        text-align: left;
      }
    }
  }

  @media (min-width: $desktop) {
    h1 {
      font-size: 55px;
      padding-bottom: 60px;
    }

    .about-container {
      width: 55%;

      .about-text {
        width: 100%;
        font-size: 24px;
        padding-top: 40px;
      }
    }
  }
}
