#about {
  margin: auto;
  padding-bottom: 70px;

  h1 {
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
    font-family: $heading;
    padding-bottom: 30px;
  }

  img {
    width: 75%;
    margin: auto;
    border-radius: 5px;
    padding: 15px 0;
  }

  .about-text {
    width: 75%;
    margin: auto;
    font-size: 18px;

    p{
      padding: 35px 0 0 0;
    }

    ul {
      padding-top: 40px;
      padding-left: 30px;
      list-style-type: circle;
    }

    ul li {
      padding-bottom: 10px;
    }
  }
}
