footer {
  background-color: $purple;
  color: $pink;
  padding: 25px 0;

  h3 {
    text-align: center;
    padding: 20px 0;
    margin: auto;
    font-size: 24px;
    font-family: $heading;
  }

  .footer-info {
    text-align: center;

    p {
      font-size: 20px;
      padding-bottom: 25px;
      color: $yellow-hover;
    }

    .separate {
      display: none;
    }

    nav {
      padding-bottom: 20px;

      a {
        padding: 0 7px;
        font-size: 24px;
        color: $pink;

        &:hover {
          color: $pink-hover;
        }
      }
    }
  }

}
