header {
  background-color: $purple;
}
.navbar {
  width: 85%;
  height: 60px;
  margin: auto;
  padding-top: 35px;

  .pages-navbar {
    margin: auto;
    display: flex;
    font-size: 0.75rem;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    a {
      color: $background;
      font-family: $body-font;
      font-weight: bold;
      transition: 0.3s;

      &:hover {
        color: $pink;
      }

      span {
        background: $yellow;
        color: $purple;
        padding: 5px 10px;
        border-radius: 15px;
        transition: 0.3s;
        box-shadow: 1px 5px 20px 1px rgba(0, 0, 0,.5);
        -moz-box-shadow: 1px 5px 20px 1px rgba(0, 0, 0,.5);
        -webkit-box-shadow: 1px 5px 20px 1px rgba(0, 0, 0,.5);

        &:hover {
          background-color: $yellow-hover;
        }
      }
    }
  }

  @media (min-width: $tablet) {
      width: 75%;
      padding-top: 50px;
      height: 80px;

      .pages-navbar {
        font-size: 1.15rem;

        a {
          span {
            padding: 10px 15px;
            border-radius: 25px;
          }
        }
      }
  }
  @media (min-width: $laptop) {
    width: 70%;
    padding-top: 70px;
    height: 100px;
    padding-bottom: 20px;

    .pages-navbar {
      font-size: 1.25rem;

      a {
        span {
          padding: 10px 20px;
        }
      }
    }
  }
  @media (min-width: $desktop) {
    width: 50%;

    .pages-navbar {
      font-size: 1.4rem;

      a {
        span {
          padding: 10px 20px;
        }
      }
    }
  }

}
