header {
  background-color: $purple;
}
.navbar {
  width: 80%;
  height: 60px;
  margin: auto;
  padding-top: 35px;

    .pages-navbar {
      margin: auto;
      display: flex;
      font-size: 0.75rem;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;

      a {
        color: $pink;
        font-family: $body-font;
        font-weight: bold;

        &:hover {
          color: $pink-hover;
        }

        span {
          background: $yellow-hover;
          color: $purple;
          padding: 5px 10px;
          border-radius: 15px;

          &:hover {
            color: $pink;
          }
        }
      }
    }

  }
