#projects {
  text-align: center;
  width: 75%;
  margin: auto;
  padding-top: 40px;

  h1 {
    font-size: 40px;
    font-family: $heading;
    padding-bottom: 40px;
  }

  .project {
    padding-bottom: 60px;

    img {
      border-radius: 5px;
      width: 260px;
      margin: auto;
    }

    h3 {
      font-size: 28px;
      font-family: $heading;
      padding: 40px 0;
    }

    p {
      font-size: 18px;
      padding-bottom: 10px;
    }

    .skills-tools {
        padding: 25px 0;
        text-align: left;
    }

    button {
      width: 60%;
      color: $pink;
      background-color: $purple;
      font-size: 20px;
      border-radius: 25px;
      padding: 10px;
      margin: 10px;

      &:hover {
        color: $pink-hover;
      }
    }

  }
}
