#projects {
  text-align: center;
  width: 75%;
  margin: auto;
  padding-top: 40px;

  h1 {
    font-size: 40px;
    font-family: $heading;
    padding-bottom: 40px;
  }

  .projects-container {

    .project {
      padding-bottom: 60px;

      img {
        border-radius: 5px;
        width: 260px;
        margin: auto;
      }

      h3 {
        font-size: 28px;
        font-family: $heading;
        padding: 40px 0;
      }

      p {
        font-size: 18px;
        padding-bottom: 10px;
      }

      .skills-tools {
          padding: 25px 0;
          text-align: left;
      }

      button {
        width: 60%;
        color: $pink;
        background-color: $purple;
        font-size: 20px;
        border-radius: 25px;
        padding: 10px;
        margin: 10px;

        &:hover {
          background-color: $purple-hover;
        }
      }
    }
  }

  @media (min-width: $tablet) {
    h1 {
      font-size: 45px;
      padding: 20px 0 80px 0;
    }
    .projects-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .project {
        width: 45%;
        margin-bottom: 35px;

        img {
          border-radius: 5px;
          width: 400px;
          height: 200px;
          margin: auto;
        }

        h3 {
          padding: 40px 0;
        }

        p {
          text-align: left;
          font-size: 20px;
        }

        .skills-tools {
          padding: 45px 0;
      }

        button {
          width: 80%;
        }
      }
    }
  }

  @media (min-width: $laptop) {
    h1 {
      font-size: 45px;
      padding: 20px 0 80px 0;
    }
    .projects-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .project {
        width: 45%;
        margin-bottom: 35px;

        img {
          border-radius: 5px;
          width: 85%;
          height: 23%;
          margin: auto;
        }

        h3 {
          font-size: 35px;
        }

        p {
          text-align: left;
          font-size: 20px;
        }

        .skills-tools {
          padding: 45px 0;
      }

        button {
          width: 80%;
        }
      }
    }
  }
}
