// Colours
$background: #FFE8D6;
$purple: #453E4F;
$purple-hover: #CAC4D1;
$pink: #F19494;
$pink-hover: #F8C6C6;
$yellow: #E9B14C;
$yellow-hover: #F8D697;
$light-blue: #E8EFF7;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Alike&family=Open+Sans:wght@300;600&display=swap');

$body-font: 'Open Sans', sans-serif;
$heading: 'Alike', serif;

// breakpoints
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;
